/* header section */
header{
    width: 100%;
    height: 100vh;
    /* padding-top: 140px; */
    background-color: rgba(245, 245, 247, 0.4);
    /* backdrop-filter: var(--backdrop-blur); */
    /* backdrop-filter: blur(100px); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#name{
    line-height: 1;
    text-align: right;
    background-clip: text;
    top: 14%;
    right: 4%;
    position: absolute;
    z-index: 3;
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
}

#pic{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: left;
}


/* descripton section*/
.desc{
    text-align: center;
    margin: 0;
}

.slogan-sub{
    font-size: 1.8rem;
    margin: 0;
}


/* highlights section */
.highlights{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-large) 0;
}

.highlight-card{
    display: flex;
    margin-bottom: var(--spacing-large);
    gap: var(--spacing-large);
    /* background-color: var(--bg-grey); */
    background-color: rgba(245, 245, 247, 0.4);
    /* backdrop-filter: var(--backdrop-blur); */
    padding: var(--spacing-normal);
    border-radius: var(--primary-card-radius);
    transition: transform 0.3s ease;
    border-top: 0.2px solid rgba(245, 245, 247, 0.4);
    border-bottom: 0.2px solid rgba(245, 245, 247, 0.4);
}

.highlight-card:hover{
    transform: var(--card-hover-scale);
}


.highlight-img-card{
    padding: var(--spacing-small);
    height: 250px;
    width: 500px;
    overflow: hidden;
}

.img-highlight{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.highlight-body{
    display: flex;
    flex-direction: column;

}

.highlight-heading h2{
    color: var(--text-grey-dark);
}

.highlight-desc p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-grey-dark);
}


html.dark-mode header{
    background-color: rgba(22, 22, 23, 0.4);
}

html.dark-mode #pic{
    content: url(Images-Misc/ABC4DC6E-059C-11F1-9FBD-01C4BF1E04DF.jpg);
}

html.dark-mode #name{
    color: rgba(255, 255, 255, 0.4);
}

html.dark-mode .highlight-card{
    /* background-color: rgb(29, 29, 31); */
    background-color: rgba(22, 22, 23, 0.4);
}

@media (min-width:831px) and (max-width:1080px){
    #name{
        top: 24%;
    }
}

@media (min-width:745px) and (max-width:830px){
    #name{
        top: 24%;
        font-size: 7em;
    }
}

@media (min-width:646px) and (max-width:744px){
    #name{
        top: 24%;
        font-size: 6em;
    }
}

@media (min-width:601px) and (max-width:645px){
    #name{
        top: 24%;
        font-size: 6em;
    }
}

@media (max-width: 600px) {
    #name {
        top: 8%;
        font-size: 4rem;
    }

    .navigation-mob{
        width: 90%;
    }

    .nav-name-mob h2{
        font-size: 17px;
    }

    .navigation-mob img.icon{
        height: 25.5px;
    }

    .nav-btn-mob{
        font-size: 16px;
    }

    .main{
        margin: var(--spacing-large) auto;
        width: 90%; 
    }

    .slogan-sub{
        font-size: 24px;
    }

    .highlight-heading h2{
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .highlight-desc p{
        font-size: 17px;
    }

    .highlight-card{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .highlight-img-card{
        height: 120px;
        width: 100%;
    }

    .footer{
        font-size: 12px;
    }

    .footer-section{
        width: 90%;
    }

    .footer-right{
        gap: 10px;
    }
}
