/* header section */
header{
    width: 100%;
    padding-top: 140px;
    background-color: rgba(245, 245, 247, 0.4);
    /* backdrop-filter: var(--backdrop-blur); */
    /* backdrop-filter: blur(100px); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#name{
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}

#pic{
    height: 440px;
}


/* descripton section*/
.desc{
    text-align: center;
    margin: 0;
}

.slogan-sub{
    font-size: 1.8rem;
    margin: 0;
}


/* highlights section */
.highlights{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-large) 0;
}

.highlight-card{
    display: flex;
    margin-bottom: var(--spacing-large);
    gap: var(--spacing-large);
    /* background-color: var(--bg-grey); */
    background-color: rgba(245, 245, 247, 0.4);
    /* backdrop-filter: var(--backdrop-blur); */
    padding: var(--spacing-normal);
    border-radius: var(--primary-card-radius);
    transition: transform 0.3s ease;
    border-top: 0.2px solid rgba(245, 245, 247, 0.4);
    border-bottom: 0.2px solid rgba(245, 245, 247, 0.4);
}

.highlight-card:hover{
    transform: var(--card-hover-scale);
}


.highlight-img-card{
    padding: var(--spacing-small);
    height: 250px;
    width: 500px;
    overflow: hidden;
}

.img-highlight{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.highlight-body{
    display: flex;
    flex-direction: column;

}

.highlight-heading h2{
    color: var(--text-grey-dark);
}

.highlight-desc p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-grey-dark);
}


html.dark-mode header{
    background-color: rgba(22, 22, 23, 0.4);
}

html.dark-mode .highlight-card{
    /* background-color: rgb(29, 29, 31); */
    background-color: rgba(22, 22, 23, 0.4);
}

@media (min-width:601px) and (max-width:1080px){
    #name{
        display: block;
        text-align: center;
    }
}

@media (max-width: 600px) {
    header{
        padding-top: 80px;
    }

    .navigation-mob{
        width: 90%;
    }

    .nav-name-mob h2{
        font-size: 17px;
    }

    .navigation-mob img.icon{
        height: 25.5px;
    }

    .nav-btn-mob{
        font-size: 16px;
    }

    .main{
        margin: var(--spacing-large) auto;
        width: 90%; 
    }

    #name {
        display: block;
        text-align: center;
        font-size: 3.6rem;
    }

    #pic{
        height: 280px;
    }

    .slogan-sub{
        font-size: 24px;
    }

    .highlight-heading h2{
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .highlight-desc p{
        font-size: 17px;
    }

    .highlight-card{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .highlight-img-card{
        height: 120px;
        width: 100%;
    }

    .footer{
        font-size: 12px;
    }

    .footer-section{
        width: 90%;
    }

    .footer-right{
        gap: 10px;
    }
}


/* Fade-in effect for name and picture */
.main, header {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards;
}

#name {
    animation-delay: 0.3s;
}

#pic {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}